* {
  box-sizing: border-box;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form {
  width: 300px;
}

.form > div {
  margin-bottom: 10px;
}

.form input {
  width: 100%;

  padding: 10px;

  border: 1px solid hsl(0 0% 0%);
  border-radius: 10px;
}

.form button {
  display: block;
  width: 100%;

  font-weight: bold;
  font-size: 1.1rem;
  font-family: sans-serif;

  color: #fff;
  background-color: hsl(345, 100%, 60%);

  padding: 10px;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

table {
  width: 100%;

  border-collapse: collapse;
  overflow-x: scroll;
}

table,
td,
th {
  text-align: left;
  border: 1px solid hsl(0 0% 0%);
}

th,
td {
  text-align: center;
  padding: 10px;
}

.form .error-message {
  display: inline-block;
  color: #ba021a;
  margin-top: 10px;
}
